@model List<Submission>
@{
    ViewData["Title"] = "Playback";
}
<h1>Listen to Some Tunes</h1>
@foreach (Submission submission in Model)
{
    <!--Song Info-->
    <p>
        <iframe width="560" height="315"
                src=@("https://www.youtube.com/embed/" + @submission.Song.SongLink.Substring(@submission.Song.SongLink.Length - 11))
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe><br />
        Artist: @submission.Song.Artist.PublicAlias<br />
        Album: @submission.Song.Album.AlbumName<br />
        ---------------------------------------------------------
    </p>
    <!--Comments-->
    <a asp-action="Comment" asp-route-songId="@submission.Song.SongId" class="btn-sm btn-secondary col-3 m-3">Add Comment</a>
    if (@submission.Song.Comments.Count != 0)
    {
        <h5 class="m-3">Comment@(@submission.Song.Comments.Count > 1 ? "s" : "")</h5>

        foreach (Comment comment in submission.Song.Comments)
        {
            <p>
                <b class="m-3">@comment.CommentText</b><br />
                <strong class="m-3">By:</strong> @comment.Commenter.UserName<br />
                <strong class="m-3">Date:</strong> @comment.PostDate.Date.ToString("dddd, MMMM dd, yyyy")<br />
            ---------------------------------------------------------
            </p>
        }
    }
}
