@model List<Submission>
@{
    ViewData["Title"] = "Submissions";
}

<!--Filters-->
<h4>Enter a poster's name:</h4>
<form method="post" class="container">
    <div class="row">
        <label for="UserName" class="control-label col-md-2">Poster's Name: </label>
        <input name="UserName" class="form-control col-sm-6" />
    </div>
    <div class="row">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
        <a asp-action="Index" class="btn btn-secondary col-3">Reset</a>
    </div>
</form>

<h4>Enter a submission date:</h4>
<form method="post" class="container">
    <div class="row">
        <label for="DateSubmitted" class="control-label col-md-2">Date Submitted: </label>
        <input type="date" name="DateSubmitted" class="form-control col-sm-6" />
    </div>
    <div class="row">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
        <a asp-action="Index" class="btn btn-secondary col-3" style="margin-bottom:25px">Reset</a>
    </div>
</form>

<!--Submissions-->
@foreach (Submission submission in Model)
{
    <img src=@("https://i3.ytimg.com/vi/" + @submission.Song.SongLink.Substring(@submission.Song.SongLink.Length - 11) + "/maxresdefault.jpg")
            style="width:320px; height:180px; float:left; margin-right:25px">
    <div class="submissionInfo" style="padding-left:345px; padding-bottom:12px; margin-bottom:20px; background-color: cornsilk">
        <h4>@submission.Song.SongName</h4>
        Release Date: @submission.Song.ReleaseDate.ToShortDateString()<br />
        Bit Rate(kbs): @submission.Song.BitRate<br />
        Song Link: @submission.Song.SongLink<br /><br />

        <h4>@submission.Song.Artist.PublicAlias</h4>
        Artist's First Name: @submission.Song.Artist.FirstName<br />
        Artist's Last Name: @submission.Song.Artist.LastName<br />
        Affiliated Labels: @submission.Song.Artist.AffiliatedLabels<br /><br />

        <h4>@submission.Song.Album.AlbumName</h4>
        Group Name: @submission.Song.Album.GroupName<br />
        Release Date: @submission.Song.Album.ReleaseDate.ToShortDateString()<br />
        Track Total: @submission.Song.Album.TrackTotal<br />
        Producing Label: @submission.Song.Album.LabelName<br /><br />

        Posted by <b>@submission.User.UserName</b> on @submission.DateSubmitted<br />
    </div>
}